<html>
<head>
<title>Weather app</title>
{{>headerlinks}}
<link rel="shortcut icon" href="Images/Logo.jpg" type="image/jpg">
</head>
<body>
     {{>navbar}}
             <div class="container-fluid main_header">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                   <img src="Images/404.jpg" class="img-fluid" >
                </figure>
               </div>
               <div class="col-md-6 col-12 main_header_left">
               <p>Welcome to my weather app</p>
               <h1>OOps <span>404 </span> Error Page</h1>
    
               </div>

            </div>
            </div>
            </div>

            </div>
{{>footer}}
</body>
</html>