<html>
<head>
<title>Weather app</title>
{{>headerlinks}}
<link rel="shortcut icon" href="Images/Logo.jpg" type="image/jpg">
</head>
<body>
     {{>navbar}}
             <div class="container-fluid main_header">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                   <img src="Images/About.jpg" class="img-fluid" >
                </figure>
               </div>
               <div class="col-md-6 col-12 main_header_left">
               <p>Welcome to weather app</p>
               <h1>I am a Student <span>Pursuing </span> B.Tech in Information Technology</h1>
               <a href="/weather"><button>About me</button></a>
               </div>

            </div>
            </div>
            </div>

            </div>
{{>footer}}
</body>
</html>